.menu {
    margin-top: 30px;
    margin-bottom: 20px;
    &__wrap {
        background: #000;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 15px;
        gap: 10px;
    }
    &__link {
        color: #fff;
        font-size: 19px;
        text-transform: uppercase;
    }
}

// @media screen and (max-width:768px) {
//     .menu {}
// }