.news {
    margin-bottom: 40px;
    &__wrap {
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;
        gap: 10px;
        // flex-wrap: wrap;
    }
    &__left {
        display: flex;
        flex-direction: column;
        max-width: 50vw;
        &>h1 {
            background: lightgrey;
            font-weight: 400;
            font-size: 40px;
            padding: 7px 0 7px 10px;
            margin-bottom: 10px;
        }
        &>a {
            position: relative;
            z-index: 0;
            &>img {
                max-width: 50vw;
            }
        }
    }
    &__text {
        position: absolute;
        margin-top: -84px;
        z-index: 10;
        color: #fff;
        background: #3b616f;
        font-size: 25px;
        padding: 10px;
    }
    &__right {
        display: flex;
        flex-direction: column;
    }
    &__links {
        background: lightgrey;
        display: flex;
        justify-content: space-between;
        padding: 6px 5px 6px 15px;
        margin-bottom: 10px;
    }
    &__link {
        display: flex;
        align-items: center;
        transition: .5s;
        &>svg {
            fill: #fff;
            margin-left: 20px;
        }
        &:hover {
            color: red;
            transition: .5s;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .content__item {
            display: flex;
            flex-direction: column;
            background: #8fb0b5;
            padding: 10px;
            &>p {
                color: #fff;
            }
            &:first-child {
                font-size: 26px;
            }
            &:last-child {
                font-size: 20px;
            }
            .bold {
                font-size: 46px;
            }
            .item__data {
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-top: 16px;
            }
            .bi-camera-reels {
                margin-top: 89px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .news {
        &__left {
            &>h1 {
                font-size: 35px;
            }
        }
        &__text {
            font-size: 15px;
            margin-top: -60px;
        }
    }
}

@media screen and (max-width:375px) {
    .news {
        &__left {
            &>h1 {
                font-size: 30px;
            }
        }
    }
}